
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,700&display=swap" rel="stylesheet">

<body class="has-background-light" style="min-height: 100vh;">
<div class="section p-t-lg">
  <div class="section p-t-none">
    <h1 class="m-b-md is-white is-pulled-left" style="font-size: 2rem; font-weight: 300;">
      Events
    </h1>
    <button id="update-button"
            onclick="loadUpcomingEvents()"
            class="button m-t-xs is-dark is-outlined is-pulled-right">
      Last updated&nbsp<span id="update-button-time-container">right now</span>
    </button>
  </div>
  <div class="section p-t-lg">
    <div class="columns" id="calendar-tiles-container"></div>
  </div>
</div>
</body>

<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script type="text/javascript">

class EventDateTime {
  constructor(eventDateTimeItem) {
    this.dateString = eventDateTimeItem['date'];
    this.dateTimeString = eventDateTimeItem['date_time'];
    this.timeZoneString = eventDateTimeItem['time_zone'];
  }

  date() {
    if (this.dateString !== undefined) return new Date(this.dateString);
    if (this.dateTimeString !== undefined) return new Date(this.dateTimeString);
    return undefined;
  }
}

class Creator {
  constructor(creatorItem) {
    this.displayName = creatorItem['display_name'];
    this.email = creatorItem['email'];
    this.id = creatorItem['id'];
  }
}

class Event {
  constructor(eventItem) {
    this.start = new EventDateTime(eventItem['start']);
    this.end = new EventDateTime(eventItem['end']);
    this.creator = new Creator(eventItem['creator']);
    this.htmlLink = eventItem['html_link'];
    this.status = eventItem['status'];
    this.summary = eventItem['summary'];
  }
}

class Calendar {
  constructor(calendarItem) {
    this.summary = calendarItem['summary'];
    this.backgroundColor = calendarItem['background_color'];
    this.foregroundColor = calendarItem['foreground_color'];
  }
}

class CalendarEvent {
  constructor(calendarEventItem) {
    this.calendar = new Calendar(calendarEventItem['calendar']);
    this.event = new Event(calendarEventItem['event']);
  }
}

function loadUpcomingEvents() {
  const updateButton = document.getElementById('update-button');
  updateButton.classList.add('is-loading');

  fetch('/calendar/events')
  .then(res => res.json())
  .then(json => {
    const calendarEvents = json.map((calendarEventItem) => (new CalendarEvent(calendarEventItem)));
    calendarEvents.sort((a, b) => (a.event.start.date() - b.event.start.date()));

    const container = document.querySelector('#calendar-tiles-container');
    container.innerHTML = '';
    for (const [index, calendarEvent] of calendarEvents.entries()) {
      const calendarElement = document.createElement('div');
      const startDate = calendarEvent.event.start.date();
      const startMoment = moment(startDate);
      const endMoment = moment(calendarEvent.event.end.date());
      const opacity = Math.max(0, 1 - (index / 6));
      let foregroundColor = "#111";
      if (index === 0) foregroundColor = calendarEvent.calendar.foregroundColor;
      let backgroundColor = "#FFF";
      if (index === 0) backgroundColor = calendarEvent.calendar.backgroundColor;
      calendarElement.innerHTML = `
        <div class="column">
          <div class="box p-none" style="opacity: ${opacity}; background: ${backgroundColor}; color: ${foregroundColor};">
            <div class="p-md">
              <h3 style="font-weight: 300; font-size: 1rem;">${calendarEvent.calendar.summary}</h3>
              <h1 style="font-weight: 300; font-size: 2rem;">${calendarEvent.event.summary}</h1>
              <h3 style="font-weight: 500; font-size: 1rem;"
                  class="live-datetime m-b-lg" data-date="${startDate}">${startMoment.fromNow()}</h3>
              <h3 style="font-weight: 300; font-size: 1rem;">${startMoment.calendar()} until ${endMoment.format('LT')}</h3>
            </div>
            <div class="rounded" style="height: 0.25rem; background-color: ${calendarEvent.calendar.backgroundColor};"></div>
          </div>
        </div>
      `;
      container.appendChild(calendarElement);

      updateButton.classList.remove('is-loading');

      const updateButtonTimeContainer = document.getElementById('update-button-time-container');
      updateButtonTimeContainer.classList.add('live-datetime');
      updateButtonTimeContainer.setAttribute('data-date', new Date());
      updateButtonTimeContainer.innerHTML = moment(new Date()).fromNow();
    }
  })
}

function updateRelativeDatetimes() {
  const elements = document.getElementsByClassName('live-datetime');
  for (let element of elements) {
    const date = new Date(element.dataset.date);
    element.innerHTML = moment(date).fromNow();
  }
}

loadUpcomingEvents();

setInterval(loadUpcomingEvents, 1000 * 60 * 10);
setInterval(updateRelativeDatetimes, 1000);
</script>
